
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

  }
a{
    text-decoration: none; 
}
a:after, :active, :visited, :hover{
    color: inherit;
}
.grid-selection{
    
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 60px auto 60px;
}
.main-grid{
    display: grid;
    grid-template-columns: 15% 1fr 15% ;
}

body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: antiquewhite;
    grid-column:1 /span 3;
    grid-row: 1;
}
main{
    background-color: coral;
    grid-column:1 /span 3;
    grid-row: 2;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
    grid-column: 1 /span3;
    grid-row: 3;
    position: relative;
    text-align: center;
    


}
.main-column-2{
    height: auto;
    margin-bottom:  655px;
   
}
.menu {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.menu li {
    
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}



.filter{
    
    display: flex;
    list-style-type: none;
    text-decoration: none;
    margin-left:5% ;
    background-color: coral;
    

}
.filter a {
    text-decoration: none;
    list-style-type: none;
}



.restaurant-list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.restaurant{
    flex:1;
    margin-right: 20px;
    list-style-type: none;
}
.restaurant a{
    text-decoration: none;
    list-style-type: none;
}
.restaurant a:after, :active, :visited, :hover{
    color: inherit;
}
.restaurant img{

    justify-content: right;
    float: right;
    width: 30%;
    height: auto;
    margin-bottom:  1%;
}
.vorlesen{
    justify-content: right;
    float: right;
    width: 10%;
    height: 10%;
}
.zurück{
    
    width: 10%;
    height: 10%;
}
.restaurant iframe{
    width: 50%;
    padding: 5px;
}